{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>{{ title|default:"Angel Dress - Избранное" }}</title>
{% endblock %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/wishlist.css' %}">
{% endblock styles %}


{% block content %}
    <!-- Главный контейнер -->
    <div class="wrapper">
        <div class="wishlist-container">
            <!-- Карточки товаров -->
            {% if page_obj.object_list %}
                <div class="product-grid">
                    {% for dress in page_obj %}
                        <div class="product-card">
                            <div class="img-section">
                                <div class="favorite-icon {% if dress.id in request.session.wishlist %}active{% endif %}"
                                     onclick="toggleWishlist(this, {{ dress.id }})">
                                    <img src="{% static 'img/heart.png' %}" alt="Remove from wishlist">
                                </div>
                                <a href="{% url 'app_catalog:dress_detail' dress.id %}">
                                    {% with dress.images.first as main_image %}
                                        {% if main_image %}
                                            <img class="product-image" src="{{ main_image.image.url }}"
                                                 alt="{{ dress.name }}">
                                        {% else %}
                                            <img class="product-image"
                                                 src="{% static 'img/No-Image-Placeholder.png' %}"
                                                 alt="Нет изображения">
                                        {% endif %}
                                    {% endwith %}
                                </a>
                            </div>

                            <div class="product-info">
                                <p class="product-name">{{ dress.name }}</p>
                                <p class="product-price">{{ dress.price_min }} - {{ dress.price_max }} ₽</p>
                                <button class="rent-button">Забронировать прокат</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-products">
                    <p>В вашем избранном пока ничего нет.</p>
                </div>
            {% endif %}

            <!-- Кнопка бронирования всех платьев -->
            <div class="rent-all-container">
                <button class="rent-all-button">Забронировать все платья</button>
            </div>
        </div>
        {% include 'includes/pagination.html' %}
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/wishlist.js' %}"></script>
{% endblock %}
