{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>{{ title|default:"Angel Dress - Каталог" }}</title>
{% endblock %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
{% endblock styles %}


{% block content %}
    <!-- Главный контейнер -->
    <div class="wrapper">
        <div class="catalog-container">
            <!-- Боковое меню -->
            <aside class="sidebar">
                <!-- Заголовок -->
                <h2 class="filter-title">Категории</h2>

                <!-- Фильтры (десктоп) -->
                <ul class="filters" id="desktopFilters">
                    <li><a href="?category=" class="filter {% if not current_category %}active{% endif %}">Все
                        категории</a></li>
                    {% for category in categories %}
                        <li>
                            <a href="?category={{ category.slug }}"
                               class="filter {% if current_category == category.slug %}active{% endif %}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Горизонтальное меню (мобильные) -->
                <div class="mobile-category-menu" id="mobileCategoryMenu">
                    <div class="mobile-category-menu-items">
                        <a href="?category="
                           class="mobile-category {% if not current_category %}active{% endif %}">Все</a>
                        {% for category in categories %}
                            <a href="?category={{ category.slug }}"
                               class="mobile-category {% if current_category == category.slug %}active{% endif %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </aside>

            <!-- Основное содержимое -->
            <main class="content">
                <!-- Сортировка -->
                <div class="sort-bar">
                    <label for="sort-select">Показывать сначала:</label>
                    <div class="custom-select">
                        <select class="sort-select" id="sort-select" onchange="location = this.value;">
                            <option value="?{% if current_category %}category={{ current_category }}&{% endif %}sort=newest"
                                    {% if current_sort == 'newest' %}selected{% endif %}>Новые
                            </option>
                            <option value="?{% if current_category %}category={{ current_category }}&{% endif %}sort=price-low"
                                    {% if current_sort == 'price-low' %}selected{% endif %}>По возрастанию цены
                            </option>
                            <option value="?{% if current_category %}category={{ current_category }}&{% endif %}sort=price-high"
                                    {% if current_sort == 'price-high' %}selected{% endif %}>По убыванию цены
                            </option>
                            <option value="?{% if current_category %}category={{ current_category }}&{% endif %}sort=popular"
                                    {% if current_sort == 'popular' %}selected{% endif %}>Популярные
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Карточки товаров -->
                <div class="product-grid">
                    {% for dress in page_obj %}
                        <div class="product-card">
                            <div class="img-section">
                                <div class="favorite-icon {% if dress.id in request.session.wishlist %}active{% endif %}"
                                     onclick="toggleWishlist(this, {{ dress.id }})">
                                    <img src="{% static 'img/heart.png' %}" alt="Add to wishlist">
                                </div>
                                <a href="{% url 'app_catalog:dress_detail' dress.id %}">
                                    {% with dress.images.first as main_image %}
                                        {% if main_image %}
                                            <img class="product-image" src="{{ main_image.image.url }}"
                                                 alt="{{ dress.name }}">
                                        {% else %}
                                            <img class="product-image" src="{% static 'img/No-Image-Placeholder.png' %}"
                                                 alt="Нет изображения">
                                        {% endif %}
                                    {% endwith %}
                                </a>
                            </div>

                            <div class="product-info">
                                <div class="product-name">Арт.: {{ dress.name }}</div>
                                <div class="product-price">Стоимость от: {{ dress.rental_price }} ₽</div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="no-products">
                            <p>Платьев пока нет в каталоге</p>
                        </div>
                    {% endfor %}
                </div>
            </main>
        </div>
        {% include 'includes/pagination.html' %}
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/wishlist.js' %}"></script>
{% endblock %}
