<script>
    // Инициализация главного слайдера
    const mainGallery = new Swiper('.main-gallery', {
      loop: {% if media_files|length > 1 %}true{% else %}false{% endif %},
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      thumbs: {
        swiper: new Swiper('.thumbnail-gallery', {
          slidesPerView: 4,
          spaceBetween: 10,
          freeMode: true,
          watchSlidesProgress: true,
          breakpoints: {
            // Когда ширина экрана <= 992px
            992: {
              slidesPerView: 4,
              spaceBetween: 10
            },
            // Когда ширина экрана <= 768px
            768: {
              slidesPerView: 3,
              spaceBetween: 8
            },
            // Когда ширина экрана <= 576px
            576: {
              slidesPerView: 3,
              spaceBetween: 5
            }
          }
        })
      }
    });

    // Инициализация лайтбокса
    const lightboxGallery = new Swiper('.lightbox-gallery', {
      loop: {% if images|length > 1 %}true{% else %}false{% endif %},
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });

    // Открытие лайтбокса при клике на изображение
    document.querySelectorAll('.main-gallery .main-media[data-is-video="false"]').forEach((img, index) => {
      img.addEventListener('click', () => {
        document.getElementById('lightbox').style.display = 'flex';
        lightboxGallery.slideToLoop(index);
      });
    });

    // Закрытие лайтбокса
    function closeLightbox() {
      document.getElementById('lightbox').style.display = 'none';
    }
  </script>