<div id="cookie-consent-banner" class="cookie-consent" style="display: none;">
    <div class="cookie-consent-content">
        <p>Мы используем файлы cookie для улучшения работы сайта. Оставаясь на сайте, вы соглашаетесь с <a href="{% url 'app_home:user_agreement' %}" target="_blank">Политикой использования cookies</a>.</p>
        <button id="cookie-consent-accept" class="cookie-consent-button">Принять</button>
    </div>
</div>



<script>
document.addEventListener('DOMContentLoaded', function() {
    const banner = document.getElementById('cookie-consent-banner');
    const acceptBtn = document.getElementById('cookie-consent-accept');

    // Проверяем, было ли уже дано согласие
    if (!localStorage.getItem('cookie_consent')) {
        banner.style.display = 'block';
    }

    // Обработка принятия
    acceptBtn.addEventListener('click', function() {
        localStorage.setItem('cookie_consent', 'true');
        banner.style.display = 'none';
    });

    // Обработка закрытия
    // banner.addEventListener('click', function() {
    //     localStorage.setItem('cookie_consent', 'true');
    //     banner.style.display = 'none';
    // });
});
</script>
