{% load static %}
<footer class="footer">
    <div class="footer__inner">
        <!-- Колонка 1 -->
        <div class="footer__column">
            <h3 class="footer__title">Платья в прокат</h3>
            <ul class="footer__list">
                {% for category in main_page_categories %}
                <li><a href="{% url 'app_catalog:dress_catalog' %}?category={{ category.slug }}" class="footer__link">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Колонка 2 -->
        <div class="footer__column">
            <h3 class="footer__title">Покупателям</h3>
            <ul class="footer__list">
                <li><a href="{% url 'app_home:contacts' %}" class="footer__link">Напишите нам</a></li>
                <li><a href="{% url 'app_home:about' %}" class="footer__link">Часто задаваемые вопросы</a></li>
                <li><a href="{% url 'app_blog:blog' %}" class="footer__link">Блог</a></li>
            </ul>
        </div>

        <!-- Колонка 3 -->
        <div class="footer__column">
            <h3 class="footer__title">О нас</h3>
            <ul class="footer__list">
                <li><a href="{% url 'app_home:about' %}" class="footer__link">Наша компания</a></li>
                <li><a href="{% url 'app_home:user_agreement' %}" class="footer__link">Соглашение</a></li>
            </ul>
        </div>

        <!-- Колонка 4 -->
        <div class="footer__column">
            <h3 class="footer__title">Мы в соцсетях</h3>
            <div class="footer__socials">
                {% if contact_info.instagram %}
                    <a href="{{ contact_info.instagram }}" class="footer__social-link" aria-label="Instagram">
                        <img src="{% static 'img/instagram_logo_round.png' %}" alt="">
                    </a>
                {% endif %}
                {% if contact_info.vk %}
                    <a href="{{ contact_info.vk }}" class="footer__social-link" aria-label="VKontakte">
                        <img src="{% static 'img/vk_logo_round.png' %}" alt="">
                    </a>
                {% endif %}
                {% if contact_info.youtube %}
                    <a href="{{ contact_info.youtube }}" class="footer__social-link" aria-label="YouTube">
                        <img src="{% static 'img/yt_logo_round.png' %}" alt="">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Копирайт -->
    <div class="footer__copyright">
        Angel Dress © 2025. All Rights Reserved.
    </div>
</footer>