{% load static %}
<footer class="footer">
    <div class="footer__inner">
        <!-- Колонка 1 -->
        <div class="footer__column">
            <h3 class="footer__title">Платья в прокат</h3>
            <ul class="footer__list">
                {% for category in main_page_categories %}
                <li><a href="{% url 'app_catalog:items_catalog' %}?category={{ category.slug }}" class="footer__link">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <!-- Колонка 2 -->
        <div class="footer__column">
            <h3 class="footer__title">Покупателям</h3>
            <ul class="footer__list">
                <li><a href="{% url 'app_home:contacts' %}" class="footer__link">Напишите нам</a></li>
                <li><a href="{% url 'app_home:about' %}" class="footer__link">Часто задаваемые вопросы</a></li>
                <li><a href="{% url 'app_blog:blog' %}" class="footer__link">Блог</a></li>
            </ul>
        </div>

        <!-- Колонка 3 -->
        <div class="footer__column">
            <h3 class="footer__title">О нас</h3>
            <ul class="footer__list">
                <li><a href="{% url 'app_home:about' %}" class="footer__link">Наша компания</a></li>
                <li><a href="{% url 'app_home:user_agreement' %}" class="footer__link">Соглашение</a></li>
            </ul>
        </div>

        <!-- Колонка 4 -->
        <div class="footer__column">
            <h3 class="footer__title">Мы в соцсетях</h3>
            <div class="footer__socials">


            {% for contact in contact_info %}
                {% if contact.link %}
                    <div class="contact_detail">
                        {% if contact.type.name == 'email' %}
                            <a href="mailto:{{ contact.link }}" class="footer__social-link">
                            <img src="{% static 'img/social_icons/'|add:contact.type.name|add:'.png' %}"
                             alt="{{ contact.type.get_name_display }}" class="contact_icon">
                            </a>
                        {% elif contact.type.name == 'phone' %}
                            <a href="tel:{{ contact.link }}" class="footer__social-link">
                            <img src="{% static 'img/social_icons/'|add:contact.type.name|add:'.png' %}"
                             alt="{{ contact.type.get_name_display }}" class="contact_icon">
                            </a>
                        {% else %}
                            <a href="{{ contact.link }}" class="footer__social-link" target="_blank">
                            <img src="{% static 'img/social_icons/'|add:contact.type.name|add:'.png' %}"
                             alt="{{ contact.type.get_name_display }}" class="contact_icon">
                            </a>
                        {% endif %}

                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

    <!-- Копирайт -->
    <div class="footer__copyright">
        Angel Dress © 2025. All Rights Reserved.
    </div>
</footer>