{% load static %}
<header class="header">
    <nav class="nav">


        <!-- Бургер-кнопка -->
        <button class="burger-btn" aria-label="Меню" aria-expanded="false">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </button>

        <div class="nav-container">
            <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="logo">
        </div>
            <ul class="nav-menu">
                <li><a href="{% url 'app_home:home' %}">Главная</a></li>
                <li><a href="{% url 'app_catalog:dress_catalog' %}">Подобрать платье</a></li>
                <li><a href="#">Аксессуары</a></li>
                <li><a href="{% url 'app_blog:blog' %}">Блог</a></li>
                <li><a href="{% url 'app_home:about' %}">О нас</a></li>
                <li><a href="{% url 'app_home:contacts' %}">Контакты</a></li>
            </ul>
            <div class="nav-icons">
                <a href="{% url 'app_wishlist:wishlist' %}" class="wishlist-link">
                    <img class="icon" src="{% static 'img/heart.png' %}"
                                                                 alt="Избранное">
                </a>
                <span class="wishlist-count" style="display: none;">0</span>
            </div>
        </div>
    </nav>
</header>