<!DOCTYPE html>
<html lang="ru">

{% load static %}
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Прокат Платьев</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
        <meta name="google-site-verification" content="o0zY2t2k5kYV5nMlM8NvM6H4kYV5lMlM8NvM6H4" />
        <meta name="yandex-verification" content="e4c8f1b9e1d1e8b7" />
        <meta name="csrf-token" content="{{ csrf_token }}">
        <meta name="keywords" content="платье, свадьба, аренда платьев, прокат платьев, прокат платьев в Москве, вечерние платья, свадебные платья, выпускные платья">
        <meta name="description" content="{{ meta_description }}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/burger.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/burger.js' %}"></script>
    {% block styles %}

    {% endblock %}
</head>

<body>
<!-- Header -->
{% include "includes/header.html" %}

{% block content %}

{% endblock %}
{% include "includes/cookie_consent.html" %}
<!-- Footer -->
{% include "includes/footer.html" %}
{% block scripts %}

{% endblock %}
</body>
</html>
