<!DOCTYPE html>
<html lang="ru">

{% load static %}
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Прокат Платьев</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
        <meta name="csrf-token" content="{{ csrf_token }}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/burger.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/burger.js' %}"></script>
    {% block styles %}

    {% endblock %}
</head>

<body>
<!-- Header -->
{% include "includes/header.html" %}

{% block content %}

{% endblock %}
<!-- Footer -->
{% include "includes/footer.html" %}
{% block scripts %}

{% endblock %}
</body>
</html>
