{% load static %}
<footer class="footer">
  <div class="footer__inner">
    <!-- Колонка 1 -->
    <div class="footer__column">
      <h3 class="footer__title">Платья в прокат</h3>
      <ul class="footer__list">
        <li><a href="#" class="footer__link">Вечерние</a></li>
        <li><a href="#" class="footer__link">Короткие</a></li>
        <li><a href="#" class="footer__link">Длинные</a></li>
        <li><a href="#" class="footer__link">Коктейльные</a></li>
      </ul>
    </div>

    <!-- Колонка 2 -->
    <div class="footer__column">
      <h3 class="footer__title">Покупателям</h3>
      <ul class="footer__list">
        <li><a href="#" class="footer__link">Напишите нам</a></li>
        <li><a href="#" class="footer__link">Часто задаваемые вопросы</a></li>
        <li><a href="#" class="footer__link">Блог</a></li>
      </ul>
    </div>

    <!-- Колонка 3 -->
    <div class="footer__column">
      <h3 class="footer__title">О нас</h3>
      <ul class="footer__list">
        <li><a href="#" class="footer__link">Наша компания</a></li>
        <li><a href="#" class="footer__link">Вступить в команду</a></li>
        <li><a href="#" class="footer__link">Соглашение</a></li>
        <li><a href="#" class="footer__link">Скидки</a></li>
      </ul>
    </div>

    <!-- Колонка 4 -->
    <div class="footer__column">
      <h3 class="footer__title">Мы в соцсетях</h3>
      <div class="footer__socials">
        <a href="#" class="footer__social-link" aria-label="Instagram">
            <img src="{% static 'img/instagram_logo_round.png' %}" alt="">
        </a>
        <a href="#" class="footer__social-link" aria-label="VKontakte">
            <img src="{% static 'img/vk_logo_round.png' %}" alt="">
        </a>
        <a href="#" class="footer__social-link" aria-label="YouTube">
            <img src="{% static 'img/yt_logo_round.png' %}" alt="">
        </a>
      </div>
    </div>
  </div>

  <!-- Копирайт -->
  <div class="footer__copyright">
    Angel Dress © 2025. All Rights Reserved.
  </div>
</footer>