{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    <title>{{ title|default:"Angel Dress - Блог" }}</title>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/blog.css' %}">
{% endblock styles %}


{% block content %}
    <!-- Главный контейнер -->
    <div class="wrapper">
        <div class="blog-container">
            <!-- Основное содержимое -->
            <main class="blog-content">
                <h1 class="page-main-title">Блог</h1>
                {% if posts %}
                    <!-- Карточки новостей -->
                    {% for post in posts %}
                        <div class="blog-card">
                            <div class="blog-text-content">
                                <h2 class="blog-title">{{ post.title }}</h2>

                                <div class="tags">
                                    {% for tag in post.tags.all %}
                                        <span class="tag">{{ tag.name }}</span>
                                    {% endfor %}
                                </div>

                                <p class="blog-description">
                                    {{ post.content|truncatewords:30 }}
                                </p>

                                <a class="open-button" href="{% url 'app_blog:post' post.id %}">Открыть</a>
                            </div>
                            {% if post.image %}
                                <div class="blog-image">
                                    <img src="{{ post.image.url }}" alt="Model Image">
                                </div>
                            {% else %}
                                <div class="blog-image">
                                    <img src="{% static 'img/No-Image-Placeholder.png' %}" alt="Model Image">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-products">
                        <p>Новостей пока нет, но мы их обязательно добавим</p>
                    </div>
                {% endif %}

            </main>
        </div>
        {% include 'includes/pagination.html' %}
    </div>
{% endblock %}
