{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{{% block title %}
    <title>{{ title|default:"Новости | Angel Dress" }}</title>
    <meta name="description" content="{{ meta_description }}">
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="blog-container">
            <main class="blog-content">
                <h1 class="page-main-title">Новости</h1>

                {% if page_obj %}
                    {% for post in page_obj %}
                        <div class="blog-card">
                            <div class="blog-text-content">
                                <h2 class="blog-title">{{ post.title }}</h2>

                                <div class="post-meta">
                                    {% if post.tags.all %}
                                        <div class="tags">
                                            {% for tag in post.tags.all %}
                                                <a href="{% url 'app_blog:posts_by_tag' tag.slug %}"
                                                   class="tag">{{ tag.name }}</a>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>

                                <p class="blog-description">
                                    {{ post.content|safe|striptags|truncatewords:30 }}
                                </p>

                                <a class="open-button" href="{% url 'app_blog:post' post.id %}">Читать</a>
                            </div>

                            {% if post.image %}
                                <div class="blog-image">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                </div>
                            {% else %}
                                <div class="blog-image">
                                    <img src="{% static 'img/No-Image-Placeholder.png' %}"
                                         alt="Изображение отсутствует">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-posts">
                        <p>Статей пока нет, но они скоро появятся</p>
                    </div>
                {% endif %}
            </main>
        </div>

        {% include 'includes/pagination.html' %}
    </div>
{% endblock %}
