:root {
    --footer-bg: #413E49;
    --footer-title-color: #D5B0A0;
    --footer-text-color: #fff;
    --footer-link-color: #ccc;
    --footer-link-hover: #b37f60;
    --footer-secondary-bg: #111;
    --footer-border-radius: 8px;
    --footer-padding: 40px;
}

.footer {
    background-color: var(--footer-bg);
    color: var(--footer-text-color);
    /*font-family: Arial, sans-serif;*/
}

.footer__inner {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--footer-padding) 20px;
    justify-content: space-between;
    gap: 30px;
}

.footer__column {
    /*min-width: 200px;*/
    flex: 1 1 200px;
}

.footer__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--footer-title-color);
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__link {
    display: block;
    font-size: 14px;
    color: var(--footer-link-color);
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer__link:hover {
    color: var(--footer-link-hover);
}

.footer__socials {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.footer__social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.footer__social-link:hover {
    background-color: var(--footer-link-hover);
}

.footer__copyright {
    text-align: center;
    padding: 20px 0;
    background-color: var(--footer-secondary-bg);
    color: #aaa;
    font-size: 12px;
}

/* Адаптивность */
@media (max-width: 992px) {
    .footer__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: var(--footer-padding) 10px;
        gap: 15px;
    }

    .footer__column {
        width: 100%;
    }
}