







/* --- Блок карточек --- */

.product-grid {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.product-info {
    background-color: #fff;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}


/* Общие стили для карточек товаров */
.product-card {
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.img-section {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.product-card:hover .product-image {
    transform: scale(1.03);
}


.product-name {
    font-size: 1.0rem;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}


@media (max-width: 992px) {
    .product-name {
        font-size: 1.8rem;
    }
}

.product-price {
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.product_link a {
    font-size: 13px;
    color: #D5B0A0;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase !important;
}

.product-price {
    font-size: 14px;
    color: #b37f60;
}