{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ title|default:"Angel Dress - О нас" }}</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock styles %}

{% block content %}
    <div class="wrapper">
        <section class="about-section">
            <div class="about-text_heading">
                <div class="heading-top">
                    <div class="heading_line"></div>
                    <div class="text-container">НЕМНОГО ОБ ANGEL DRESS</div>
                </div>
                <h2>Добро Пожаловать В AngelDress</h2>
            </div>

            <div class="about-image">
                <img src="{% static 'img/founder.png' %}" alt="Founder"/>
            </div>

            <div class="about-text">
                <p>Равным образом, разбавленное изрядной долей эмпатии, рациональное мышление является качественно новой
                    ступенью позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика
                    показывает, что курс на социально-ориентированный национальный проект.</p>
                <div class="founder-name">Анжела Анжела</div>
                <div class="founder-title">ОСНОВАТЕЛЬ</div>
            </div>
        </section>
        <section class="reviews-section">
            <div class="reviews-image">
                <img src="{% static 'img/review-lady.png' %}" alt="Happy Customer"/>
            </div>

            <div class="reviews-content">
                <div class="reviews-heading">
                    <div class="heading_line"></div>
                    <div class="text-container">НАШИ КЛИЕНТЫ</div>
                </div>

                <h2>Что Говорят О Нас Наши Клиенты</h2>

                <div class="reviews-carousel">
                    <div class="review-item active">
                        <blockquote class="review-text">
                            В целом, конечно, глубокий уровень погружения обеспечивает. В целом, конечно, глубокий
                            уровень погружения В целом, конечно, глубокий уровень погружения обеспечивает. В целом,
                            конечно, глубокий погружения
                        </blockquote>
                        <div class="review-author">Екатерина Шумская</div>
                    </div>

                    <div class="review-item">
                        <blockquote class="review-text">
                            В целом, конечно, глубокий уровень погружения обеспечивает. В целом, конечно, глубокий
                            уровень погружения В целом, конечно, глубокий уровень погружения обеспечивает. В целом,
                            конечно, глубокий погружения
                        </blockquote>
                        <div class="review-author">Анна Петрова</div>
                    </div>

                    <div class="review-item">
                        <blockquote class="review-text">
                            В целом, конечно, глубокий уровень погружения обеспечивает. В целом, конечно, глубокий
                            уровень погружения В целом, конечно, глубокий уровень погружения обеспечивает. В целом,
                            конечно, глубокий погружения
                        </blockquote>
                        <div class="review-author">Мария Иванова</div>
                    </div>
                </div>

                <div class="carousel-controls">
                    <div class="carousel-dots">
                        <button class="dot active" data-slide="0"></button>
                        <button class="dot" data-slide="1"></button>
                        <button class="dot" data-slide="2"></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="team-section">
            <div class="team-text_heading">
                <div class="heading-top">
                    <div class="heading_line"></div>
                    <div class="text-container">ИДЕАЛЬНАЯ КОМАНДА</div>
                </div>
                <h2>Наши Специалисты Помогут Вам Со Всем</h2>
            </div>

            <div class="team-grid">
                <div class="team-member">
                    <div class="team-image">
                        <img src="{% static 'img/worker1.jpg' %}" alt="Марина Кравцова">
                    </div>
                    <div class="team-info">
                        <h3 class="team-name">Марина Кравцова</h3>
                        <p class="team-description">В целом, конечно, глубокий уровень погружения обеспечивает. В целом,
                            конечно</p>
                        <div class="team-social">
                            <a href="#" class="social-link instagram" aria-label="Instagram">
                                <img src="{% static 'img/instagram-svgrepo-com.svg' %}" alt="Instagram">
                            </a>
                            <a href="#" class="social-link vk" aria-label="VKontakte">
                                <img src="{% static 'img/vk-svgrepo-com.svg' %}" alt="VK">
                            </a>
                            <a href="#" class="social-link youtube" aria-label="YouTube">
                                <img src="{% static 'img/youtube-svgrepo-com.svg' %}" alt="YouTube">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="team-member">
                    <div class="team-image">
                        <img src="{% static 'img/worker2.jpg' %}" alt="Марина Кравцова">
                    </div>
                    <div class="team-info">
                        <h3 class="team-name">Марина Кравцова</h3>
                        <p class="team-description">В целом, конечно, глубокий уровень погружения обеспечивает. В целом,
                            конечно</p>
                        <div class="team-social">
                            <a href="#" class="social-link instagram" aria-label="Instagram">
                                <img src="{% static 'img/instagram-svgrepo-com.svg' %}" alt="Instagram">
                            </a>
                            <a href="#" class="social-link vk" aria-label="VKontakte">
                                <img src="{% static 'img/vk-svgrepo-com.svg' %}" alt="VK">
                            </a>
                            <a href="#" class="social-link youtube" aria-label="YouTube">
                                <img src="{% static 'img/youtube-svgrepo-com.svg' %}" alt="YouTube">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="counter_section">
            <hr class="counter_section_line">
            <div class="counter_container">
                <!-- Блок 1: Платьев было выбрано -->
                <div class="counter_item">
                    <img src="{% static 'img/dress_icon.png' %}" alt="Dress Icon" class="counter_icon">
                    <div class="counter_stats">
                        <span class="counter_number">132</span>
                        <p class="counter_label">Платьев было выбрано</p>
                    </div>
                </div>

                <!-- Блок 2: Довольных клиентов -->
                <div class="counter_item">
                    <img src="{% static 'img/double_heart_icon.png' %}" alt="Heart Icon" class="counter_icon">
                    <div class="counter_stats">
                        <span class="counter_number">64</span>
                        <p class="counter_label">Довольных клиентов</p>
                    </div>
                </div>

                <!-- Блок 3: Новых поступлений ежемесячно -->
                <div class="counter_item">
                    <img src="{% static 'img/gift_icon.png' %}" alt="Gift Icon" class="counter_icon">
                    <div class="counter_stats">
                        <span class="counter_number">10+</span>
                        <p class="counter_label">Новых поступлений ежемесячно</p>
                    </div>
                </div>
            </div>
            <hr class="counter_section_line">
        </section>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}