{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ title|default:"Angel Dress - Контакты" }}</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
{% endblock styles %}


{% block content %}
    <div class="wrapper">
        <section class="contact_section">
            {% include "includes/contact_section.html" %}
        </section>
        <section class="form_section">
            {% include "includes/contact_form.html" %}
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/contact_form.js' %}"></script>
{% endblock %}
