{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ title|default:"Angel Dress - Контакты" }}</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/contact_section.css' %}">
{% endblock styles %}

{% block content %}
    <div class="wrapper">
        <h1 class="page-main-title">Контакты</h1>
        <section class="contact_section">
            {% include "includes/contact_section.html" %}
        </section>
        <section class="form_section">
            {% include "includes/contact_form.html" %}
        </section>
    </div>
{% endblock %}
