{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>{{ title|default:"Angel Dress - Главная" }}</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="{% static 'js/swiper-bundle.min.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'styles/swiper-bundle.min.css' %}">
    <script src="{% static 'js/swiper_settings.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'styles/swiper.css' %}">
{% endblock styles %}

{% block content %}
    <div class="wrapper">

        {% if slider_images %}
            <!-- Секция слайдера -->
            <section class="slider">
                <div class="swiper">
                    <!-- Обертка слайдов -->
                    <div class="swiper-wrapper">
                        {% for slide in slider_images %}
                            <div class="swiper-slide">
                                <div class="slide-inner">
                                    <img src="{{ slide.image.url }}" alt="{{ slide.alt_text }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Навигация -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- Пагинация -->
                    <div class="swiper-pagination"></div>
                </div>
            </section>
        {% endif %}

        <!-- Секция заголовка страницы -->
        <section class="heading">
            <h1 class="heading_title">Добро пожаловать в <br> прокат платьев</h1>
        </section>
        <!-- Секция выбора платьев -->
        <section class="choosing_dresses">
            <div class="choosing_dresses_categories">
                <div class="choosing_dresses_row">
                    <div class="choosing_dresses_item_left">
                        <div class="img-container">
                        <img src="{% static 'img/ch_c_image1.png' %}" alt="Свадебные Платья">
                        </div>
                        <div class="content">
                            <h2>??? платья</h2>
                            <p>В целом, конечно, глубокий уровень погружения обеспечивает</p>
                            <a href="{% url 'app_catalog:dress_catalog' %}">ПОДБРАТЬ ПЛАТЬЕ →</a>
                        </div>
                    </div>
                    <div class="choosing_dresses_item_right">
                        <div class="img-container">
                            <img src="{% static 'img/ch_c_image2.png' %}" alt="Ночные платья">
                        </div>

                        <div class="content">
                            <h2>??? платья</h2>
                            <p>В целом, конечно, глубокий уровень погружения обеспечивает</p>
                            <a href="{% url 'app_catalog:dress_catalog' %}">ПОДБРАТЬ ПЛАТЬЕ →</a>
                        </div>
                    </div>
                </div>
                <div class="choosing_dresses_row">
                    <div class="choosing_dresses_item_right">
                        <div class="img-container">
                        <img src="{% static 'img/ch_c_image3.png' %}" alt="Ночные платья">
                        </div>
                        <div class="content">
                            <h2>??? платья</h2>
                            <p>В целом, конечно, глубокий уровень погружения обеспечивает</p>
                            <a href="{% url 'app_catalog:dress_catalog' %}">ПОДБРАТЬ ПЛАТЬЕ →</a>
                        </div>
                    </div>
                    <div class="choosing_dresses_item_left">
                        <div class="img-container">
                        <img src="{% static 'img/ch_c_image4.png' %}" alt="Свадебные Платья">
                        </div>
                        <div class="content">
                            <h2>??? Платья</h2>
                            <p>В целом, конечно, глубокий уровень погружения обеспечивает</p>
                            <a href="{% url 'app_catalog:dress_catalog' %}">ПОДБРАТЬ ПЛАТЬЕ →</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Секция accessories -->
        <section class="write_us">
            <div class="section_write_us">
                <div class="container_write_us">
                    <!-- Левая часть -->
                    <div class="write_us_image-box">
                        <img src="{% static 'img/full-length-happy-beautiful-young-woman.png' %}"
                             alt="full-length-happy-beautiful-young-woman.png">
                    </div>

                    <!-- Правая часть -->
                    <div class="write_us_text-form-box">
                        <div class="write_us_text-content">
                            <p class="write_us_label">НАПИШИТЕ НАМ</p>
                            <h2 class="write_us_title">Супер Стиль С<br>Нашим Стилистом</h2>

                        </div>

                        {% include 'includes/contact_form.html' %}
                    </div>
                </div>
            </div>

        </section>
        <!-- Секция предпросмотра некоторых платьев -->
        <section class="items-preview_section">
            <!-- Заголовок -->
            <div class="items-preview_header">
                <div class="items-preview_text_section">
                    <div class="items-preview_line"></div>
                    <p class="items-preview_subtitle">НА ЛЮБОЙ СЛУЧАЙ</p>
                    <h2 class="items-preview_title">
                        Найдите Прекрасное Платье<br>
                        На Любой Случай
                    </h2>
                </div>
                <a href="{% url 'app_catalog:dress_catalog' %}" class="items-preview_button">ПРОСМОТРЕТЬ ВСЕ</a>
            </div>

            <!-- Карточки -->
            <div class="product-grid">
                {% if random_dresses %}
                            {% for dress in random_dresses %}
                                <div class="product-card">
                                    <div class="img-section">
                                        <div class="favorite-icon {% if dress.id in request.session.wishlist %}active{% endif %}"
                                             onclick="toggleWishlist(this, {{ dress.id }})">
                                            <img src="{% static 'img/heart.png' %}" alt="Add to wishlist">
                                        </div>
                                        <a href="{% url 'app_catalog:dress_detail' dress.id %}">
                                            {% with dress.images.first as main_image %}
                                                {% if main_image %}
                                                    <img class="product-image" src="{{ main_image.image.url }}"
                                                         alt="{{ dress.name }}">
                                                {% else %}
                                                    <img class="product-image"
                                                         src="{% static 'img/No-Image-Placeholder.png' %}"
                                                         alt="Нет изображения">
                                                {% endif %}
                                            {% endwith %}
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <p class="product-name">{{ dress.name }}</p>
                                        <p class="product-price">{{ dress.rental_price }} ₽</p>
                                    </div>
                                </div>
                            {% endfor %}

                {% endif %}
            </div>
        </section>
        <!-- Секция accessories -->
        <section class="accessories_section">
            <div class="accessories_container">

                <div class="accessories_content">
                    <!-- Текстовая часть -->
                    <div class="accessories_text">
                        <div class="accessories_heading">
                            <div class="accessories_line"></div>
                            <p class="accessories_subtitle">ЛУЧШИЙ ВЫБОР</p>
                        </div>
                        <h2 class="accessories_title">
                            Дополните Свой<br>
                            Образ
                        </h2>
                        <p class="accessories_description">
                            В целом, конечно, глубокий уровень погружения обеспечивает. В целом, конечно, глубокий
                            уровень
                            погружения
                        </p>
                    </div>

                    <!-- Карточки аксессуаров -->
                    <div class="accessories_cards">
                        <div class="accessories_card">
                            <img src="{% static 'img/klatch.png' %}" alt="Classic Clutch">
                            <p class="accessories_card_title">КЛАССИЧЕСКИЙ КЛАТЧ</p>
                        </div>
                        <div class="accessories_card">
                            <img src="{% static 'img/klatch.png' %}" alt="Classic Clutch">
                            <p class="accessories_card_title">КЛАССИЧЕСКИЙ КЛАТЧ</p>
                        </div>
                        <div class="accessories_card">
                            <img src="{% static 'img/klatch.png' %}" alt="Classic Clutch">
                            <p class="accessories_card_title">КЛАССИЧЕСКИЙ КЛАТЧ</p>
                        </div>
                        <div class="accessories_card">
                            <img src="{% static 'img/klatch.png' %}" alt="Classic Clutch">
                            <p class="accessories_card_title">КЛАССИЧЕСКИЙ КЛАТЧ</p>
                        </div>
                    </div>
                </div>
                <!-- Фоновое изображение модели -->
                <img src="{% static 'img/model_with_accessories.png' %}" alt="Model with Accessories">
            </div>
        </section>
        <!-- Секция счетчика -->
        <section class="counter_section">
            <hr class="counter_section_line">
            <div class="counter_container">
                <!-- Блок 1: Платьев было выбрано -->
                <div class="counter_item">
                    <img src="{% static 'img/dress_icon.png' %}" alt="Dress Icon" class="counter_icon">
                    <div class="counter_stats">
                        <span class="counter_number">132</span>
                        <p class="counter_label">Платьев было выбрано</p>
                    </div>
                </div>

                <!-- Блок 2: Довольных клиентов -->
                <div class="counter_item">
                    <img src="{% static 'img/double_heart_icon.png' %}" alt="Heart Icon" class="counter_icon">
                    <div class="counter_stats">
                        <span class="counter_number">64</span>
                        <p class="counter_label">Довольных клиентов</p>
                    </div>
                </div>

                <!-- Блок 3: Новых поступлений ежемесячно -->
                <div class="counter_item">
                    <img src="{% static 'img/gift_icon.png' %}" alt="Gift Icon" class="counter_icon">
                    <div class="counter_stats">
                        <span class="counter_number">10+</span>
                        <p class="counter_label">Новых поступлений ежемесячно</p>
                    </div>
                </div>
            </div>
            <hr class="counter_section_line">
        </section>
        <!-- Секция блога -->
        <section class="blog_section">
            <div class="blog_container">
                <!-- Заголовок и кнопка -->
                <div class="blog_header">
                    <h2 class="blog_title">Наши Специалисты<br>Говорят На Темы</h2>
                    <a href="{% url 'app_blog:blog' %}" class="blog_button">ОТКРЫТЬ БЛОГ</a>
                </div>

                <!-- Блоки постов -->
                <div class="blog_posts">
                    <!-- Пост 1 -->
                    <div class="blog_post">
                        <div class="img-container"><img src="{% static 'img/blog1.png' %}" alt="Post Image" class="blog_image"></div>
                        <div class="blog-text-area">
                            <p class="blog_author">Екатерина Шумская</p>
                        <h3 class="blog_post_title">100 Идей На Лето</h3>
                        <p class="blog_description">
                            В целом, конечно, глубокий уровень погружения обеспечивает. В целом, конечно, глубокий
                            уровень
                            погружения
                        </p>
                        <a href="#" class="blog_read_more">ПРОЧИТАТЬ</a>
                        </div>

                    </div>

                    <!-- Пост 2 -->
                    <div class="blog_post">
                        <div class="img-container"><img src="{% static 'img/blog1.png' %}" alt="Post Image" class="blog_image"></div>
                        <div class="blog-text-area">
                            <p class="blog_author">Екатерина Шумская</p>
                        <h3 class="blog_post_title">100 Идей На Лето</h3>
                        <p class="blog_description">
                            В целом, конечно, глубокий уровень погружения обеспечивает. В целом, конечно, глубокий
                            уровень
                            погружения
                        </p>
                        <a href="#" class="blog_read_more">ПРОЧИТАТЬ</a>
                        </div>

                    </div>

                    <!-- Пост 3 -->
                    <div class="blog_post">
                        <div class="img-container"><img src="{% static 'img/blog1.png' %}" alt="Post Image" class="blog_image"></div>
                        <div class="blog-text-area">
                            <p class="blog_author">Екатерина Шумская</p>
                        <h3 class="blog_post_title">100 Идей На Лето</h3>
                        <p class="blog_description">
                            В целом, конечно, глубокий уровень погружения обеспечивает. В целом, конечно, глубокий
                            уровень
                            погружения
                        </p>
                        <a href="#" class="blog_read_more">ПРОЧИТАТЬ</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Секция контактов -->
        <section class="contact_section">
            {% include "includes/contact_section.html" %}
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/wishlist.js' %}"></script>
{% endblock %}
