{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>{{ title|default:"Angel Dress - Пользовательское соглашение" }}</title>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
{% endblock styles %}


{% block content %}
    <!-- Главный контейнер -->
    <div class="wrapper">
        <div class="blog-container">
            <!-- Основное содержимое -->
            <main class="blog-content">
                <div class="agreement-text-card">
                    <div class="agreement-text-content">
                        <div class="agreement-description">
                            {{ rent_rules_text|safe }}
                        </div>
                    </div>
                </div>
                {% if questions %}
                    <div class="agreement-text-card">
                        <div class="agreement-text-content">
                            <h2 class="agreement-title">Часто задаваемые вопросы</h2>

                            {% for question in questions %}
                                <div class="agreement-question">
                                    <h3>{{ question.question_text }}</h3>
                                    <p class="agreement-description">
                                        {{ question.answer_text }}
                                    </p>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                {% endif %}
                <div class="agreement-text-card">
                    <div class="agreement-text-content">
                        <div class="agreement-description">
                            {{ terms_of_use_text|safe }}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
